<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Web Admin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/dataTables.select.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/dataTables.bootstrap4.js"></script>
    <link rel="stylesheet" href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" />

    <style>

        .container {
            max-width: 98%;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">홈페이지 관리도구</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Q&amp;A  <span class="badge badge-light" id="QuestionCounter">..</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Main">회원수 <span class="badge badge-light" id="MemberCounter">..</span></a>
                </li>
                <li class="nav-item">
                    <span class="navbar-text">&nbsp;</span>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <span class="navbar-text">@User.Identity.Name 님</span>&nbsp;
                <button class="btn btn-outline-warning my-2 my-sm-0" id="LogoutButton">로그아웃</button>
            </form>
        </div>
    </nav>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-md-2">
                <div class="card">
                    <div class="card-body">
                        <h5>회원</h5>
                        <a href="/Main" class="btn btn-link btn-sm">회원 목록</a><br />
                        <a href="/Coupon/Log" class="btn btn-link btn-sm">쿠폰 내역</a><br />
                        <h5>운영</h5>
                        <a href="/Notice" class="btn btn-link btn-sm">공지 사항</a><br />
                        <a href="/QA" class="btn btn-link btn-sm">Q&amp;A</a><br />
                        <a href="/Memo" class="btn btn-link btn-sm">관리자 쪽지</a><br />
                        <h5>관리</h5>
                        <a href="/Coupon" class="btn btn-link btn-sm">쿠폰 관리</a><br />

                    </div>
                </div>

            </div>
            <div class="col-xl-10 col-md-10">


                @RenderBody()
            </div>
        </div>
    </div>
    <div class="container">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year JPOT.</p>
        </footer>

    </div>

    @RenderSection("scripts", required: false)

    <script type="text/javascript">

        $(document).ready(function () {

            // 질문 카운터
            $.ajax({
                url: "@Url.Action("QNACounter", "Main")",
                dataType: "json",
                type : "POST",
                success: function (obj) {
                    if (obj.result == "OK") {
                        $("#QuestionCounter").text(obj.wait + "/" + obj.total);
                    }
                },
                error: function () {
                    $("#QuestionCounter").text("..");
                }
            });

            // 회원수
            $.ajax({
                url: "@Url.Action("MemberCounter", "Main")",
                dataType: "json",
                type: "POST",
                success: function (obj) {
                    if (obj.result == "OK") {
                        $("#MemberCounter").text(obj.total.toLocaleString("en"));
                    }
                },
                error: function () {
                    $("#MemberCounter").text("..");
                }
            });

            $("#LogoutButton").click(function (e) {
                e.preventDefault();
                location.href = "/Login/Logout";
            });

        });



    </script>
</body>
</html>
