


@model UserWeb.Models.MainViewModel


<script type="text/javascript">

    function onlinegame(type) {

        @if (Model.IsLogon == true)
        {
            <text>
        var scheme = 'game://_' + getCookie('session_01') + '_' + getCookie('session_02') + '_' + type

        var iframe = document.createElement('IFRAME'),
            start;

        iframe.style.display = 'none';
        iframe.src = scheme;
        document.body.appendChild(iframe);

        start = +new Date();
        setTimeout(function () {
            var now = +new Date();
            if (now - start < 2000) {
                fnOpenModal("게임이 실행되지 않을 경우<br><br>게임접속기를 설치하세요.");
            }
        }, 500);

            </text>
        }
        else
        {
            <text>
            fnOpenModal("로그인 후 시도하시기 바랍니다.");
            </text>
        }
    }
    function onlinegame2(type) {

        @if (Model.IsLogon == true)
        {
            <text>
        var scheme = '@UserWeb.Properties.Settings.Default.URI_LOCATION://_' + getCookie('session_01') + '_' + getCookie('session_02') + '_' + type

        var iframe = document.createElement('IFRAME'),
            start;

        iframe.style.display = 'none';
        iframe.src = scheme;
        document.body.appendChild(iframe);

        start = +new Date();
        setTimeout(function () {
            var now = +new Date();
            if (now - start < 2000) {
                fnOpenModal("게임이 실행되지 않을 경우<br><br>게임접속기를 설치하세요.");
            }
        }, 500);

            </text>
        }
        else
        {
            <text>
            fnOpenModal("로그인 후 시도하시기 바랍니다.");
            </text>
        }
    }
    function uf_BuyAvatar(no,item,price) {

        @if (Model.IsLogon == true)
        {
            <text>
            if (!confirm(' 상품 [ ' + item + ' ] \n ' + price + ' 캐쉬 \n 구매하려면 확인을 누르세요.'))
            {
                return false;
            }

            var frm = document.form_buy;
            frm.action = "/Main/AvatarBuyProc";
            frm.no.value = no;
            frm.target = "HiddenFrame";
            frm.submit();
            </text>
        }
        else
        {
            <text>
        fnOpenModal("로그인 후 구매할 수 있습니다.");
            </text>
        }
    }
    function fnLoginOk() {
        $.ajax({
            url: "/Main/PerformLogin",
            data: {
                "m_id": $("#LoginID").val(),
                "m_pw": $("#LoginPWD").val(),
                "m_save": ($("#SaveIDCheck").is(":checked") ? "Y" : "N"),
                "ReturnURL": $("#ReturnURL").val()
            },
            dataType: "json",
            type: "POST",
            success: function (res) {
                if (res.result == "OK") {
                    location.href = res.data;
                    return;
                }
                // 로그인 실패
                alert(res.reason);

            }, error: function (x) {
                alert("서버 오류로 요청을 처리하지 못했습니다.");
                return;
            }
        });
    }
    function fnLoginBoxEnter() {
        if (event.keyCode == 13) {
            event.returnValue = false;
            event.cancel = true;

            if (document.getElementById("cpatchaTextBox").value != code) {

                alert("보안코드를 입력하세요.")
                createCaptcha();
                return;
            }

            fnLoginOk();
        }
    }
    $(document).ready(function () {
        $("#TryLoginImage").click(function (e) {

            if (document.getElementById("cpatchaTextBox").value != code) {

                alert("보안코드를 입력하세요.")
                createCaptcha();
                return;
            }

            e.preventDefault();
            fnLoginOk();
        });

@if ( !String.IsNullOrEmpty(Model.popupNotice)){

    <text>
        jquery_layerpop("popup_notice", "center");
        if (getCookie('hide_popup') != '') {
            $('#popup_notice').hide();
        }
        else {
            $('#popup_notice').show();
        }
        function closepopup() {
            var chk = uf_getCheckedVal('hidePopup');
            if (chk == "Y") {
                setCookie('hide_popup', 'yes', 1);
            }
            $('#popup_notice').hide();
            $('#popup_notice').html('');
        }
    </text>

}
    });




    var code;
    function createCaptcha() {
        //clear the contents of captcha div first
        document.getElementById('captcha').innerHTML = "";
        var charsArray =
            "123456789";
        var lengthOtp = 4;
        var captcha = [];
        for (var i = 0; i < lengthOtp; i++) {
            //below code will not allow Repetition of Characters
            var index = Math.floor(Math.random() * charsArray.length); //get the next character from the array
            if (captcha.indexOf(charsArray[index]) == -1)
                captcha.push(charsArray[index]);
            else i--;
        }
        var canv = document.getElementById("captcha");

        canv.className = "captcha"
        canv.width = 70;
        canv.height = 35;
        var ctx = canv.getContext("2d");
        ctx.font = "18px Georgia";
        ctx.strokeText(captcha.join(""), 10, 20);
        //storing captcha so that can validate you can save it somewhere else according to your specific requirements
        code = captcha.join("");


    }


    function validateCaptcha() {
        event.preventDefault();
        if (document.getElementById("cpatchaTextBox").value == code) {
            alert("Valid Captcha")
        } else {
            alert("Invalid Captcha. try Again");
            createCaptcha();
        }
    }


    window.addEventListener("load", function () {
        createCaptcha()
    });

</script>



<style>
    .cpatchaText {
        color: blue;
        width:165px;
        height: 48px;
        background-color:#fff;
        font-size: 11pt;
        border: 0px;
        padding-left: 3px;
    }
    .cpatchaText::placeholder{
        color:blue;
        font-weight:bold;
    }

    .captcha {
        /*prevent interaction with the canvas*/
        pointer-events: none;
        background: url("/img/auto_bg.gif");
        width: 100px;
        height: 48px;
        margin: 0px;
        padding: 0px;
        margin-left: 2px;
        vertical-align: middle;
    }

    .myinfoButton {
        background: #FF4742;
        border: 1px solid #FF4742;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
        font-size: 16px;
        font-weight: 800;
        line-height: 16px;
        min-height: 40px;
        outline: 0;
        padding: 12px 14px;
        text-align: center;
        text-rendering: geometricprecision;
        text-transform: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
    }

    .myinfoButton:hover,
    .myinfoButton:active {
        background-color: initial;
        background-position: 0 0;
        color: #FF4742;
    }

    .myinfoButton:active {
        opacity: .5;
    }

    .funtionButton {
        -moz-box-shadow: 0px 10px 14px -7px #97c4fe;
        -webkit-box-shadow: 0px 10px 14px -7px #97c4fe;
        box-shadow: 0px 10px 14px -7px #97c4fe;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
        background: -moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
        background: -webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
        background: -o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
        background: -ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
        background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
        background-color: #3d94f6;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #337fed;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 13px;
        font-weight: bold;
        padding: 6px 12px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #1570cd;
    }

        .funtionButton:hover {
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
            background: -moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
            background: -webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
            background: -o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
            background: -ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
            background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
            background-color: #1e62d0;
        }

        .funtionButton:active {
            position: relative;
            top: 1px;
        }

    .friendlistButton {
        -moz-box-shadow: 0px 10px 14px -7px #3e7327;
        -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
        box-shadow: 0px 10px 14px -7px #3e7327;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
        background: -moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
        background: -webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
        background: -o-linear-gradient(top, #77b55a 5%, #72b352 100%);
        background: -ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
        background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
        background-color: #77b55a;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #4b8f29;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 13px;
        font-weight: bold;
        padding: 6px 12px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #5b8a3c;
    }

        .friendlistButton:hover {
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
            background: -moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
            background: -webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
            background: -o-linear-gradient(top, #72b352 5%, #77b55a 100%);
            background: -ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
            background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
            background-color: #72b352;
        }

        .friendlistButton:active {
            position: relative;
            top: 1px;
        }

    .logoutButton {
        align-items: center;
        background-clip: padding-box;
        background-color: #fa6400;
        border: 1px solid transparent;
        border-radius: .25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        margin: 0;
        min-height: 3rem;
        padding: calc(.875rem - 1px) calc(1.5rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        width: auto;
    }

    .logoutButton:hover,
    .logoutButton:focus {
        background-color: #fb8332;
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    }

    .logoutButton:hover {
        transform: translateY(-1px);
    }

    .logoutButton:active {
        background-color: #c85000;
        box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
        transform: translateY(0);
    }

</style>


<div class="xjMainBanner">

</div>


<div class="xjMainContent">


    <div class="xjMainLeftContent">
        <div class="xjMainQuick">

            <ul class="mainquickList">
                <li>
                    <div class="pull-left"><img src="/image/20220923/btn_holdem.png" onclick="onlinegame2('h')"></div>

                </li>
                <li>
                    <div class="pull-left"><img src="/image/20220923/btn_Matgo.png" onclick="onlinegame2('m')"></div>

                </li>
            </ul>
            <ul class="mainquickList">
                <li>
                    <div class="pull-left"><img src="/image/20220923/btn_badukki.png" onclick="onlinegame2('b')"></div>

                </li>
                <li>
                    <div class="pull-left"><img src="/image/20220923/btn_poker.png" onclick="fnOpenModal('준비중입니다.')"></div>

                </li>
            </ul>
        </div>

        <div class="xjMainEvent">

            <div class="pull-left"> <img src="/image/20220923/eventimg_02_1.png"></div>

        </div>

        <div class="xjMainNotice">

            <ul class="mainnoticekList">
                <li style="margin: 1px 4px 1px 0px ">
                    <div class="pull-left"><img src="/image/bottom_info_01.png" onclick="fnOpenModal('준비중입니다.')"></div>
                </li>
                <li style="margin: 1px 4px 1px 0px ">
                    <div class="pull-left"><img src="/image/bottom_info_02.png" onclick="fnOpenModal('준비중입니다.')"></div>
                </li>
                <li style="margin: 1px 0px 1px 0px ">
                    <div class="pull-left"><img src="/image/bottom_info_04.png" onclick="fnOpenModal('준비중입니다.')"></div>
                </li>
            </ul>

        </div>



    </div>
    <div class="xjMainRightContent  pull-right">
        <div class="downimg">
            <a class="button" href="@UserWeb.Properties.Settings.Default.DOWNLOAD_URL2" target="_blank">
                <img src="/image/btn_gamedownload_N.png">
            </a>

        </div>
        <form>

            @if (Model.IsLogon == false)
            {
                <div>
                    <div class="loginBeforeBg">
                        <div class="LoginBeforeInput">
                            <input type="text" id="LoginID" class="LoginID" name="m_id" placeholder="아이디" onKeyPress="javascript:fnLoginBoxEnter();" autocomplete="off">
                            <input type="password" id="LoginPWD" class="LoginPWD" name="m_pw" placeholder="패스워드" onKeyPress="javascript:fnLoginBoxEnter();" autocomplete="off">
                            <input type="text" class="cpatchaText" placeholder="보안코드입력" id="cpatchaTextBox" onKeyPress="javascript:fnLoginBoxEnter();" autocomplete="off" />
                            <canvas id="captcha">  </canvas>
                            <div class="loginBeforeBottomImg">
                                <img src="/img/login_join.png" onclick="window.location.href='/member/join01'">
                            </div>
                        </div>
                        <img class="loginBtn" id="TryLoginImage" src="/image/btn_login.png">
                    </div>
                </div>
            }
            @if (Model.IsLogon == true)
            {

                <div>
                    <div class="loginAfterBg">
                        <div class="loginAfterInfo pull-left">
                            <div>
                                <span class="pull-left" style="padding-top: 3px;">@ViewBag.Nickname (님)</span>
                                <span class="pull-right logoutbnt">
                                    <a href="/member/logout" class="logoutButton">로그아웃</a>
                                </span>
                            </div>
                            <div>
                                <ul>
                                    <li>
                                        <span>게임머니</span>
                                        <span style="color: #E4940A;">@ViewBag.PlayerInfo.FreeMoney.ToString("N0")</span>
                                        <span>@UserWeb.Properties.Settings.Default.GS_MONEY_NAME</span>
                                    </li>
                                    <li>
                                        <span>금고머니</span>
                                        <span style="color: #E4940A;">@ViewBag.PlayerInfo.SafeMoney.ToString("N0")</span>
                                        <span>@UserWeb.Properties.Settings.Default.GS_MONEY2_NAME</span>
                                    </li>

                                    <li>
                                        <span>마일리지</span>
                                        <span style="color: #E4940A;">
                                            @ViewBag.PlayerInfo.Mileage.ToString("N0")
                                            @if (ViewBag.PlayerInfo.Type == 6)
                                            {
                                                @:(
                                                @ViewBag.PlayerInfo.Mileage2.ToString("N0")
                                                @:)
                                            }
                                        </span>
                                        <span></span>
                                    </li>

                                    <li>
                                        <div class="loginAfterBtn text-center">
                                            <a href="/member/MyInfo" class="myinfoButton">내정보</a>
                                            <!--
    <a href="#" onclick="OpenComMenu('/member/EventJH', 500, 550);return false;" class="funtionButton">E.잭팟헌터</a>
        -->
                                            @if (ViewBag.PlayerInfo.HaveFriend != 0)
                                            {
                                                <a href="/member/FriendList" class="friendlistButton">친구목록</a>
                                            }
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            }


        </form>

        <div class="mainGameInfo" style="cursor: pointer">
            @*<img src="/image/ui_pannel_gameguide.png" onclick="window.location.href='/game/GameInfo'">*@
            <div onclick="window.location.href='/game/GameInfo'"></div>
        </div>
        <div class="mainNoticeListBg">

            <ul>
                @foreach (DBLIB.WebNoticeList entry in Model.noticeList)
                {
                    <li><a href="#" onclick="OpenComMenu('/Customer/NoticeView?n_no=@entry.id', 630, 600);return false;">@entry.title</a></li>
                }
            </ul>
        </div>
        <div class="ServiceImg">
            <div>
                
            </div>
        </div>

        <div style="margin-top:15px;">
            <a class="button" href="@UserWeb.Properties.Settings.Default.DOWNLOAD_URL2" target="_blank">
                <img src="../image/ui_pannel_download.png">
            </a>
        </div>
        <div style="margin-top:8px;">
            <a class="button" href="/Download/ImageLink" target="_blank">
                <img src="../image/ui_pannel_imgdownload.png">
            </a>
        </div>
    </div>
</div>


<form name="form_buy" method="post">
    <input type="hidden" name="no" />
</form>


<div class="alertError xjmodal hidden">
    <div class="noticeTitle">
        <span class="pull-left"></span>
        <button class="pull-right erroeClose">×</button>
    </div>
    <div class="text-center buysuccessContent"><span id="ajaxErrorInfo"></span></div>
    <div class="text-center bugSuccessBtn">
        <img class="btnmodalClose" src="/img/item/bt_ok.gif">
    </div>
    <div class="alertModalBottom"></div>
</div>


<div id="popup_notice">
    <div id="content">
        <div>
            @Html.Raw(@Model.popupNotice)
            <div style="width:1000px;padding-top:8px;text-align:center;  background: #ffffff;">
                <input type="checkbox" name="hidePopup" id="hidePopup" value="Y" onclick="closepopup();" /> 24시간 동안 다시보지 않기
                <a href="#" onclick="closepopup();"><img src="/images/web/btn_close.png" alt="" /></a>
            </div>
        </div>
    </div>
</div>


<script>

@if ( !String.IsNullOrEmpty(Model.popupNotice)){
    <text>
    jquery_layerpop("popup_notice", "center");
    if (getCookie('hide_popup') != '')
    {
	    $('#popup_notice').hide();
    }
    else
    {
	    $('#popup_notice').show();
    }
    function closepopup()
    {
        var chk = uf_getCheckedVal('hidePopup');
        if (chk == "Y")
        {
            setCookie('hide_popup', 'yes', 1);
        }
	    $('#popup_notice').hide();
	    $('#popup_notice').html('');
    }
    </text>
}
</script>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
<!---->
